@{
	ViewBag.Title = "主页";
}

<div class="jumbotron">
	<h2>CC98 开放身份验证系统欢迎你</h2>
	<p>CC98 开放身份验证系统是基于 OpenID Connect 协议的全新一代登录和交互认证平台，为校内所有师生提供一个基于安全、灵活、可靠的 CC98 ID 的身份验证和授权系统。</p>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="card-deck">
			<div class="card">
				<div class="card-header bg-primary text-white">如果你是用户</div>
				<div class="card-body">
					<p class="card-text">你可以：</p>
					<ul>
						<li>在一个位置使用 CC98 账户登录各种应用</li>
						<li>防止其他应用获取你的 CC98 账号密码，保证你的账号安全</li>
						<li>根据你的需要，同意或者拒绝应用代表你执行不同的操作</li>
						<li>管理所有登录状态，并注销不必要的登录信息</li>
					</ul>
				</div>
			</div>
			<div class="card">
				<div class="card-header bg-success text-white">如果你是开发者</div>
				<div class="card-body">
					<p class="card-text">你可以：</p>
					<ul>
						<li>使用 CC98 账号登录你的应用，而无需用户单独创建账户</li>
						<li>在用户授权的情况下，代表用户执行 CC98 的各项操作</li>
						<li>管理你的应用，在有需要的情况下停用或者更新应用信息</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>