@{
	Layout = "_Layout";
	ViewBag.PageTitle = "主页";
}


<div class="jumbotron">
	<h1 class="display-4">欢迎访问 CC98 账户管理系统</h1>
	<p class="lead">便捷、准确、安全的 CC98 账户自助服务平台</p>
	<hr />
	<p>CC98 账户管理系统依托于 OpenID Connect 协议，实现了和浙大通行证账户的无缝对接，为所有 CC98 用户提供账户注册、激活和密码重置服务。</p>
	<small class="text-info">友情提示：这个网站的大部分功能都需要你首先<a asp-controller="Account" asp-action="LogOn">登录浙大通行证</a>才能使用。如果你不希望在单击<q>登录</q>时自动登录到上次使用的账户，你可以通过直接访问<a href="https://zjuam.zju.edu.cn/cas/login">浙大通行证登录门户</a>以输入新的通行证账号和密码。如果你在使用任何功能时遇到问题，请直接<a href="mailto:contact@cc98.org">通过邮件联系我们</a>。</small>
</div>