@model CC98.LogOn.ViewModels.Manage.ResetPasswordInputModel

<form asp-controller="Manage" asp-action="ChangeActivationInfo" asp-antiforgery="true" method="post" data-ajax="true" data-ajax-success="handleAjaxSuccess" data-ajax-failure="handleAjaxFailure" data-redirect-uri="@Url.Action("Account", "Manage", new {name = Model.CC98UserName})">
	<input type="hidden" asp-for="CC98UserName" />
	<div id="reset-password-modal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">重置账户密码</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-text">
						<p>使用这个对话框可以强制修改账户的密码。</p>
						<p>如果你不手动设置新密码，则密码将重置为该账户的关联的浙大通行证账号。</p>
						<p>对于没有绑定浙大通行证的账号，你必须手动提供新密码。</p>
					</div>
					<hr />
					<div class="form-group">
						<label asp-for="NewPassword">新密码</label>
						<input type="password" asp-for="NewPassword" class="form-control" />
						<small>输入新密码。如不输入密码则使用通行证账号作为新密码。</small>
					</div>
				</div>
				<div class="modal-footer">
					<p class="text-danger error-target"></p>
					<button type="submit" class="btn btn-warning">重置密码</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>
</form>