@model IEnumerable<IdentityServer4.Models.Secret>

@if (Model.Any())
{
	<table class="table table-condensed table-striped table-hover">
		<thead>
		<tr>
			<th>值</th>
			<th>描述</th>
			<th>创建时间</th>
			<th>过期时间</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var i in Model)
		{
			<tr>
				<th>@i.Value</th>
				<td>@i.Description</td>
				<td></td>
				<td>
					@if (i.Expiration.HasValue)
					{
						<span>@i.Expiration.Value.ToString("g", CultureInfo.CurrentUICulture)</span>
					}
					else
					{
						<span class="text-muted">永不过期</span>
					}
				</td>
			</tr>
		}
		</tbody>
	</table>
}
else
{
	<p class="text-muted text-center">这个应用目前没有任何机密。</p>
}