@using CC98.LogOn.Data
@using Sakura.AspNetCore.Localization
@model CC98.LogOn.Data.App
@inject IDynamicViewLocalizer ViewLocalizer

@{
	ViewBag.Title = ViewLocalizer.Html.PageTitle;
	ViewBag.IsEditMode = false;
}

<form asp-controller="App" asp-action="Create" asp-antiforgery="true" method="post">
	
	@await Html.PartialAsync("_AppInfoPartial")

	<hr/>
	<button class="btn btn-primary" type="submit">@ViewLocalizer.Html.CreateAppButtonText</button>
	<button class="btn btn-default" type="reset">@ViewLocalizer.Html.ResetButtonText</button>
</form>