@using Sakura.AspNetCore.Localization
@model App
@inject IDynamicViewLocalizer ViewLocalizer

@{
	ViewBag.Title = ViewLocalizer.Html.PageTitle;
	ViewBag.IsEditMode = false;
}

<form asp-controller="App" asp-action="Create" asp-antiforgery="true" method="post">
	
	@await Html.PartialAsync("_AppInfoPartial")

	<hr/>
	
	<div asp-validation-summary="ModelOnly"></div>
	<button class="btn btn-primary" type="submit">@ViewLocalizer.Html.CreateAppButtonText</button>
	<button class="btn btn-secondary" type="reset">@ViewLocalizer.Html.ResetButtonText</button>
</form>