@using Sakura.AspNetCore.Localization

@model IPagedList<App>
@inject IDynamicViewLocalizer ViewLocalizer
@{
	ViewBag.PageTitle = "应用一览";
}

@if (Model.Any())
{
	<pager />
}
else
{
	<p class="text-muted text-center">目前还没有任何应用</p>
}