@using Microsoft.AspNetCore.Http.Extensions
@using Sakura.AspNetCore.Localization
@inject IDynamicViewLocalizer ViewLocalizer

<ul class="navbar-nav">
	@if (User.Identity.IsAuthenticated)
	{
		<li class="nav-item"><a class="nav-link" href="#">@ViewLocalizer.Html.CC98AccountFormat(User.Identity.Name)</a></li>
		<li>
			<form id="log-off-form" asp-controller="Account" asp-action="LogOff" method="post" asp-antiforgery="true">
				<a class="nav-link" href="#" onclick="$('#log-off-form').submit();">注销</a>
			</form>
		</li>
	}
	else
	{
		<li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="LogOn" asp-route-returnUrl="@Context.Request.GetDisplayUrl()">@ViewLocalizer.Html.LogOnCC98AccountLinkText</a></li>
	}
</ul>

