@using IdentityModel
@model AppApiResource
@{
	var isEditMode = (bool)ViewBag.IsEditMode;
	var selectedScopes = Model?.Scopes.Select(i => i.Id).ToArray();
}

<div class="form-group">
	<label asp-for="Id" class="form-control-label"></label>
	<input asp-for="Id" type="text" class="form-control" readonly="@isEditMode" />
	<span asp-validation-for="Id" class="text-danger"></span>
	<small class="form-text text-muted">该 API 资源的标识。将会出现在客户端的请求授权信息中。标识在创建后不可修改。</small>
</div>

<div class="form-group">
	<label asp-for="Secret" class="form-control-label"></label>

	@if (isEditMode)
	{
		<input asp-for="Secret" type="text" class="form-control" readonly="readonly" />
	}
	else
	{
		<p class="form-text text-info">创建后自动生成</p>
	}
	<small class="form-text text-muted">该 API 资源的机密。API 资源服务器需要提供此机密用以证明自己的身份。</small>
</div>

<div class="form-group">
	<label asp-for="DisplayName" class="form-control-label"></label>
	<input asp-for="DisplayName" type="text" class="form-control" />
	<span asp-validation-for="DisplayName" class="text-danger"></span>
	<small class="form-text text-muted">该 API 资源的显示名称。将会出现在用户授权认证界面中。</small>
</div>

<div class="form-group">
	<label asp-for="Description" class="form-control-label"></label>
	<textarea asp-for="Description" rows="3" class="form-control"></textarea>
	<span asp-validation-for="Description" class="text-danger"></span>
	<small class="form-text text-muted">该 API 资源的描述。将会出现在用户授权认证界面中。</small>
</div>

<hr />

@if (isEditMode)
{
	<div class="card">
		<div class="card-header">领域</div>
		<div class="card-body">
			<p class="card-text">
				API 资源支持一个或多个不同领域。每个领域代表 API 的一部分功能。每个 API 资源必须至少拥有一个领域，否则将无法正常工作。要为这个 API 资源添加领域，你需要转到领域的管理界面，并将它关联到这个 API。
			</p>
		</div>
		<hr />
		@if (Model != null && Model.Scopes.Count != 0)
		{
			<table class="table table-striped">
				<thead>
					<tr>
						<th>标识</th>
						<th>名称</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var scope in Model.Scopes)
					{
						<tr>
							<th>@scope.Id</th>
							<td>@scope.DisplayName</td>
						</tr>
					}
				</tbody>
			</table>
			foreach (var scope in Model.Scopes)
			{

			}
		}
		else
		{
			<div class="card-body">
				<p class="card-text text-muted">这个 API 资源目前没有关联到任何领域</p>
			</div>
		}

	</div>
}
else
{
	<p class="text-warning">API 创建后不能立即产生效果，你还需要为 API 添加至少一个领域。请在创建 API 资源后，转到 <a asp-controller="Scope" asp-action="Index">领域管理</a> 界面添加领域或者将领域关联到这个 API。</p>
}
