@model AppApiResource
@{
	ViewBag.Title = "创建 API 资源";
	ViewBag.IsEditMode = false;
}

<div class="row justify-content-center">
	<div class="col-md-6">

		<form asp-controller="ApiResource" asp-action="Create" method="post" asp-antiforgery="true">
			
			@await Html.PartialAsync("_ApiResourceInfoPartial")

			<hr />
			<button class="btn btn-primary" type="submit">创建 API 资源</button>
			<button class="btn btn-secondary">清空内容</button>

		</form>
	</div>
</div>