@{
	Layout = "_Layout";
	ViewBag.PageTitle = "拒绝访问";
}

<div class="alert alert-danger">
	<h2>你没有权限访问这个页面</h2>
	<hr/>
	<p>这可能是由于下面的原因引起的：</p>
	<ul>
		<li>你需要访问的页面需要登录，而你当前未登录。</li>
		<li>某些功能必须要管理员权限才能执行，你当前的账户没有对应的权限。</li>
		<li>如果你确定以上这些问题都不存在，请<a class="alert-link" href="mailto:contact@cc98.org">联系管理员</a>。</li>
	</ul>
</div>

<hr/>
<a asp-controller="Account" asp-action="LogOn" asp-route-returnUrl="@ViewBag.ReturnUrl" class="btn btn-primary">登录</a>