@using CC98.LogOn.Services
@model IEnumerable<CC98User>
@inject CC98DataService CC98DataService
@inject CC98IdentityDbContext DbContext
@{
	ViewBag.Title = "CC98 账号管理";
}

<div class="alert alert-info">本页面列出了你的浙大通行证账号关联的 CC98 账号情况。</div>

@if (Model.Any())
{
	ViewBag.ShowResetPassword = true;
	@await Html.PartialAsync("_CC98UserList", Model.ToArray())
}
else
{
	<hr />
	<p class="text-center text-muted">你的浙大通行证目前还没有关联到任何 CC98 账号。</p>
}

<hr />

@if (await CC98DataService.CanActivateUsersAsync(User.GetId()))
{
	<p>
		目前，管理员允许每个浙大通行证账号最多激活 <strong>@CC98DataService.MaxActivationCount</strong> 个 CC98 账号。你目前的账号还未到达这一限制，单击下面的按钮可以使用当前的通行证继续注册新账号，或者激活现有账号。
	</p>

	<a asp-controller="Account" asp-action="Register" class="btn btn-primary">注册并激活新的 CC98 账号</a>
	<a asp-controller="Account" asp-action="Activate" class="btn btn-primary">激活未绑定的 CC98 账号</a>
}
else
{
	<p class="text-center text-warning">你当前的浙大通行证已经达到了激活数量上限，不能再激活其它 CC98 账号</p>
}