@using CC98.LogOn.Services
@model CC98.LogOn.ViewModels.Account.ResetPasswordViewModel
@inject CC98DataService CC98DataService
@{
	ViewBag.Title = "重置密码";
	var items = await CC98DataService.GetActivatedUsersAsync(User.GetId());
	var selectedUserName = (string) ViewBag.SelectedUserName;
	var userSelectList = new SelectList(items, nameof(CC98User.Name), nameof(CC98User.Name), selectedUserName);
}

@if (items.Any())
{
	<form asp-controller="Account" asp-action="ResetPassword" asp-antiforgery="true" method="post">
		<div class="row justify-content-center">
			<div class="col-md-6">

				<div class="alert alert-info">你可以在这个页面重置已经关联到你的浙大通行证的 CC98 账户的密码。注意：重置密码操作不能撤销。</div>

				<div class="form-group">
					<label asp-for="UserName"></label>
					<select id="user-name-select" asp-for="UserName" asp-items="@userSelectList" asp-option-label="选择一个用户" class="form-control"></select>
					<span asp-validation-for="UserName" class="text-danger"></span>
					<small class="form-text text-muted">在上方列表中选择一个要重置密码的账户。</small>
				</div>
				<div class="form-group">
					<label asp-for="NewPassword"></label>
					<input id="password-input" asp-for="NewPassword" type="password" class="form-control"/>
					<span asp-validation-for="NewPassword" class="text-danger"></span>
					<small class="form-text text-muted">CC98 账户的新密码。</small>
				</div>
				<div class="form-group">
					<label asp-for="ConfirmNewPassword"></label>
					<input asp-for="ConfirmNewPassword" type="password" class="form-control"/>
					<span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
					<small class="form-text text-muted">请再次输入 CC98 账户的新密码。</small>
				</div>
				<hr/>
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<button type="submit" class="btn btn-danger">重置密码</button>
				<button type="reset" class="btn btn-secondary">清空内容</button>
			</div>
		</div>
	</form>
}
else
{
	<p class="text-center text-muted">你当前登录的浙大通行证还没有注册任何 CC98 账号。</p>
}

@section Scripts{

	@await Html.PartialAsync("_ValidationScriptsPartial")

	<script>

		$('#password-input').pwstrength({
			ui: {
				bootstrap4: true,
				showVerdictsInsideProgressBar: true
			},
			common: {
				usernameField: '#user-name-select'
			}
		});

	</script>

}