@model AppScope
@{
	var isEditMode = (bool)ViewBag.IsEditMode;
}

<div class="form-group">
	<label asp-for="Id" class="form-control-label"></label>
	<input asp-for="Id" class="form-control" readonly="@isEditMode" />
	<span asp-validation-for="Id" class="text-danger"></span>
	<small class="form-text text-muted">领域的标识，将会作为请求的一部分出现在请求的 URL 中。该属性在领域创建后将不可更改。</small>
</div>
<div class="form-group">
	<label asp-for="DisplayName" class="form-control-label"></label>
	<input asp-for="DisplayName" class="form-control" />
	<span asp-validation-for="DisplayName" class="text-danger"></span>
	<small class="form-text text-muted">领域的显示名称。将会显示在用户许可和应用设定的界面。</small>
</div>
<div class="form-group">
	<label asp-for="Description" class="form-control-label"></label>
	<textarea asp-for="Description" class="form-control" rows="3"></textarea>
	<span asp-validation-for="Description" class="text-danger"></span>
	<small class="form-text text-muted">领域的描述。将会显示在用户许可和应用设定的界面。</small>
</div>
<div class="form-group">
	<label asp-for="Region" class="form-control-label"></label>
	<input asp-for="Region" class="form-control" />
	<span asp-validation-for="Region" class="text-danger"></span>
	<small class="form-text text-muted">授权的区域。区域可用于对授权领域进行分组。</small>
</div>
<div class="form-check">
	<label class="form-check-label">
		<input asp-for="IsHidden" class="form-check-input" /> 隐藏该领域
	</label>
	<small class="form-text text-muted">如果隐藏该领域，则用户将无法在领域表中看到该项目。隐藏的领域通常用于内部操作。</small>
</div>