@model CC98UserClaim
@{
	ViewBag.Title = string.Format("编辑用户声明 - {0}", Model.DisplayName);
	ViewBag.IsEditMode = true;
}

<form asp-controller="UserClaim" asp-action="Edit" method="post" asp-antiforgery="true">
	<div class="row justify-content-center">
		<div class="col-md-6">

			@await Html.PartialAsync("_UserClaimInfoPartial")

			<hr />
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<button type="submit" class="btn btn-primary">修改声明</button>
			<button type="reset" class="btn btn-secondary">撤销填写</button>
		</div>
	</div>
</form>